/** animations take into account the absolute position of the views being added: the margin values interact with eachother, which is why the numbers look weird */

.animation-absolute-wide-3-push-1 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-wide-3-push-1-keyframes;    
    -moz-animation-name: animation-absolute-wide-3-push-1-keyframes;    
    animation-name: animation-absolute-wide-3-push-1-keyframes;    
}


@-webkit-keyframes animation-absolute-wide-3-push-1-keyframes{
    from {
        left: -50%;
    }
    to {
        left: -116%;
    }
}

@-moz-keyframes animation-absolute-wide-3-push-1-keyframes{
    from {
        left: -50%;
    }
    to {
        left: -116%;
    }
}

@keyframes animation-absolute-wide-3-push-1-keyframes{
    from {
        left: -50%;
    }
    to {
        left: -116%;
    }
}


.animation-absolute-wide-3-push-2 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-wide-3-push-2-keyframes;
    -moz-animation-name: animation-absolute-wide-3-push-2-keyframes;
    animation-name: animation-absolute-wide-3-push-2-keyframes;
}

@-webkit-keyframes animation-absolute-wide-3-push-2-keyframes{
    from {
        left: 16%;
    }
    to {
        left: -50%;
    }
}

@-moz-keyframes animation-absolute-wide-3-push-2-keyframes{
    from {
        left: 16%;
    }
    to {
        left: -50%;
    }
}

@keyframes animation-absolute-wide-3-push-2-keyframes{
    from {
        left: 16%;
    }
    to {
        left: -50%;
    }
}

.animation-absolute-wide-3-push-3 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-wide-3-push-3-keyframes;
    -moz-animation-name: animation-absolute-wide-3-push-3-keyframes;
    animation-name: animation-absolute-wide-3-push-3-keyframes;
}

@-webkit-keyframes animation-absolute-wide-3-push-3-keyframes{
    from {
        left: 82%;
    }
    to {
        left: 16%;
    }
}

@-moz-keyframes animation-absolute-wide-3-push-3-keyframes{
    from {
        left: 82%;
    }
    to {
        left: 16%;
    }
}

@keyframes animation-absolute-wide-3-push-3-keyframes{
    from {
        left: 82%;
    }
    to {
        left: 16%;
    }
}

.animation-absolute-wide-3-push-4 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-wide-3-push-4-keyframes;
    -moz-animation-name: animation-absolute-wide-3-push-4-keyframes;
    animation-name: animation-absolute-wide-3-push-4-keyframes;
}

@-webkit-keyframes animation-absolute-wide-3-push-4-keyframes{
    from {
        left: 148%;
    }
    to {
        left: 82%;
    }
}

@-moz-keyframes animation-absolute-wide-3-push-4-keyframes{
    from {
        left: 148%;
    }
    to {
        left: 82%;
    }
}

@keyframes animation-absolute-wide-3-push-4-keyframes{
    from {
        left: 148%;
    }
    to {
        left: 82%;
    }
}

.animation-absolute-wide-3-pop-1 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-wide-3-pop-1-keyframes;    
    -moz-animation-name: animation-absolute-wide-3-pop-1-keyframes;    
    animation-name: animation-absolute-wide-3-pop-1-keyframes;    
}

@-webkit-keyframes animation-absolute-wide-3-pop-1-keyframes{
    from {
        left: -116%;
    }
    to {
        left: -50%;
    }
}

@-moz-keyframes animation-absolute-wide-3-pop-1-keyframes{
    from {
        left: -116%;
    }
    to {
        left: -50%;
    }
}


@keyframes animation-absolute-wide-3-pop-1-keyframes{
    from {
        left: -116%;
    }
    to {
        left: -50%;
    }
}

.animation-absolute-wide-3-pop-2 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-wide-3-pop-2-keyframes;    
    -moz-animation-name: animation-absolute-wide-3-pop-2-keyframes;    
    animation-name: animation-absolute-wide-3-pop-2-keyframes;    
}

@-webkit-keyframes animation-absolute-wide-3-pop-2-keyframes{
    from {
        left: -50%;
    }
    to {
        left: 16%;
    }
}

@-moz-keyframes animation-absolute-wide-3-pop-2-keyframes{
    from {
        left: -50%;
    }
    to {
        left: 16%;
    }
}


@keyframes animation-absolute-wide-3-pop-2-keyframes{
    from {
        left: -50%;
    }
    to {
        left: 16%;
    }
}

.animation-absolute-wide-3-pop-3 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-wide-3-pop-3-keyframes;    
    -moz-animation-name: animation-absolute-wide-3-pop-3-keyframes;    
    animation-name: animation-absolute-wide-3-pop-3-keyframes;    
}

@-webkit-keyframes animation-absolute-wide-3-pop-3-keyframes{
    from {
        left: 16%;
    }
    to {
        left: 82%;
    }
}

@-moz-keyframes animation-absolute-wide-3-pop-3-keyframes{
    from {
        left: 16%;
    }
    to {
        left: 82%;
    }
}

@keyframes animation-absolute-wide-3-pop-3-keyframes{
    from {
        left: 16%;
    }
    to {
        left: 82%;
    }
}


.animation-absolute-wide-3-pop-4 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-wide-3-pop-4-keyframes;    
    -moz-animation-name: animation-absolute-wide-3-pop-4-keyframes;    
    animation-name: animation-absolute-wide-3-pop-4-keyframes;    
}

@-webkit-keyframes animation-absolute-wide-3-pop-4-keyframes{
    from {
        left: 82%;
    }
    to {
        left: 148%;
    }
}

@-moz-keyframes animation-absolute-wide-3-pop-4-keyframes{
    from {
        left: 82%;
    }
    to {
        left: 148%;
    }
}

@keyframes animation-absolute-wide-3-pop-4-keyframes{
    from {
        left: 82%;
    }
    to {
        left: 148%;
    }
}

