/** animations take into account the absolute position of the views being added: the margin values interact with eachother, which is why the numbers look weird */

.animation-absolute-narrow-push-2 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-narrow-push-2-keyframes;
    -moz-animation-name: animation-absolute-narrow-push-2-keyframes;
    animation-name: animation-absolute-narrow-push-2-keyframes;
}

@-webkit-keyframes animation-absolute-narrow-push-2-keyframes{
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

@-moz-keyframes animation-absolute-narrow-push-2-keyframes{
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes animation-absolute-narrow-push-2-keyframes{
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}


.animation-absolute-narrow-push-1 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-narrow-push-1-keyframes;    
    -moz-animation-name: animation-absolute-narrow-push-1-keyframes;    
    animation-name: animation-absolute-narrow-push-1-keyframes;    
}


@-webkit-keyframes animation-absolute-narrow-push-1-keyframes{
    from {
        margin-left: 0%;
    }
    to {
        margin-left: -100%;
    }
}

@-moz-keyframes animation-absolute-narrow-push-1-keyframes{
    from {
        margin-left: 0%;
    }
    to {
        margin-left: -100%;
    }
}

@keyframes animation-absolute-narrow-push-1-keyframes{
    from {
        margin-left: 0%;
    }
    to {
        margin-left: -100%;
    }
}


.animation-absolute-narrow-pop-2 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-narrow-pop-2-keyframes;    
    -moz-animation-name: animation-absolute-narrow-pop-2-keyframes;    
    animation-name: animation-absolute-narrow-pop-2-keyframes;    
}

@-webkit-keyframes animation-absolute-narrow-pop-2-keyframes{
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 100%;
    }
}

@-moz-keyframes animation-absolute-narrow-pop-2-keyframes{
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes animation-absolute-narrow-pop-2-keyframes{
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}


.animation-absolute-narrow-pop-1 {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-absolute-narrow-pop-1-keyframes;    
    -moz-animation-name: animation-absolute-narrow-pop-1-keyframes;    
    animation-name: animation-absolute-narrow-pop-1-keyframes;    
}

@-webkit-keyframes animation-absolute-narrow-pop-1-keyframes{
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}

@-moz-keyframes animation-absolute-narrow-pop-1-keyframes{
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 100%;
    }
}


@keyframes animation-absolute-narrow-pop-1-keyframes{
    from {
        margin-left: 0%;
    }
    to {
        margin-left: 100%;
    }
}
