body, html {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

.loading_container, .stack {
}

#content {
    background: #333333;
}

.toolbar_decorator_content_container_invisible {
    visibility: hidden;
}

.toolbar_decorator_toolbar_container {
    position: fixed;
    z-index: 1000;   
}

.toolbar_decorator_content {
    word-wrap:normal;
    white-space:normal;
}

.statusbar_decorator_statusbar {
    position: fixed;
    top: 0;
    width:100%;
    z-index: 1000;   
}

.statusbar_decorator_content {
    overflow: hidden;
    
}

.stack {
    overflow: hidden;
    white-space: nowrap;
}

.stack_narrow {
    overflow: hidden;
    width:100%;
}

.stack_narrow .toolbar_decorator_content_container, .stack_narrow .toolbar_decorator_toolbar_container {
    width: 100%;
}

.stack_wide_3 .toolbar_decorator_toolbar_container, .stack_wide_4 .toolbar_decorator_toolbar_container {
    visibility: hidden;
}

.stack_wide_4 {
    margin-left: -30%;
    width:160%;
}

.stack_wide_4 .toolbar_decorator_content_container {
    width: 25%;
}

.stack_wide_4 .toolbar_decorator_toolbar_container {
    width: 41%;
}

.stack_wide_4 .toolbar_decorator_toolbar_container:nth-of-type(1) {
    left:-30%;
}

.stack_wide_4 .toolbar_decorator_toolbar_container:nth-of-type(3) {
    left:10%;
}

.stack_wide_4 .toolbar_decorator_toolbar_container:nth-of-type(5) {
    left:50%;
}

.stack_wide_4 .toolbar_decorator_toolbar_container:nth-of-type(7) {
    left:90%;
}

.stack_wide_4 .toolbar_decorator_toolbar_container:nth-of-type(9) {
    left:130%;
}

.stack_wide_4 .toolbar_decorator_content_container:nth-of-type(2), .stack_wide_4 .toolbar_decorator_content_container:nth-of-type(8), .stack_wide_4 .toolbar_decorator_content_container:nth-of-type(10) {
    opacity: 0.3;
}


.stack_wide_3  {
    margin-left: -50%;
    width: 200%;
}

.stack_wide_3 .toolbar_decorator_content_container {
    width: 33%;
}

.stack_wide_3 .toolbar_decorator_toolbar_container {
    width: 67%;
}

.stack_wide_3 .toolbar_decorator_toolbar_container:nth-of-type(1) {
    left:-50%;
}

.stack_wide_3 .toolbar_decorator_toolbar_container:nth-of-type(3) {
    left:16%;
}

.stack_wide_3 .toolbar_decorator_toolbar_container:nth-of-type(5) {
    left:82%;
}

.stack_wide_3 .toolbar_decorator_toolbar_container:nth-of-type(7) {
    left:148%;
}

.stack_wide_3 .toolbar_decorator_content_container:nth-of-type(2), .stack_wide_3 .toolbar_decorator_content_container:nth-of-type(6), .stack_wide_3 .toolbar_decorator_content_container:nth-of-type(8) {
    opacity: 0.3;
}

.stack_wing {
    height:100%;
    top:0;
    z-index:500;
}

.stack_wing_right {
    position:fixed;
    right:0;
}

.stack_wing_left {
    position:fixed;
    left:0;
}

.stack_wing_left_wide_3 {
    width:16%;
}

.stack_wing_right_wide_3 {
    /* account for rounding (33% instead of 33.333%)*/
    width:18%;
}

.stack_wing_wide_4 {
    width:10%;
}

.toolbar_decorator_content_container {
    display: inline-block;
    vertical-align: top;
}

.home_item {
    display:block;
    text-align:right;
}

.context_summary .home_item {
    display:inline-block;
}

.content_home {
    background: #eeeeff;
}

.content_empty_starter {
    background: #ffeeee;
}

.content_empty_ender {
    background: #eeffee;
}

.displayed {
    font-weight: bold;
}