/** animations take into account the relative position of the views being added: the margin values interact with eachother, which is why the numbers look weird */

.animation-relative-wide-4-push {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-relative-wide-4-push-keyframes;    
    -moz-animation-name: animation-relative-wide-4-push-keyframes;    
    animation-name: animation-relative-push-wide-4-keyframes;    
}


@-webkit-keyframes animation-relative-wide-4-push-keyframes{
    from {
        margin-left: 0%;
    }
    to {
        margin-left: -40%;
    }
}

@-moz-keyframes animation-relative-wide-4-push-keyframes{
    from {
        margin-left: 0%;
    }
    to {
        margin-left: -40%;
    }
}

@keyframes animation-relative-wide-4-push-keyframes{
    from {
        margin-left: 0%;
    }
    to {
        margin-left: -40%;
    }
}


.animation-relative-wide-4-pop {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-name: animation-relative-wide-4-pop-keyframes;    
    -moz-animation-name: animation-relative-wide-4-pop-keyframes;    
    animation-name: animation-relative-wide-4-pop-keyframes;    
}

@-webkit-keyframes animation-relative-wide-4-pop-keyframes{
    from {
        margin-left: -40%;
    }
    to {
        margin-left: 0%;
    }
}

@-moz-keyframes animation-relative-wide-4-pop-keyframes{
    from {
        margin-left: -40%;
    }
    to {
        margin-left: 0%;
    }
}

@keyframes animation-relative-wide-4-pop-keyframes{
    from {
        margin-left: -40%;
    }
    to {
        margin-left: 0%;
    }
}
