.toolbar_decorator_toolbar_container {
    background:url('320w/toolbar_background.png');
}

.statusbar_decorator_statusbar {
    background:url('320w/statusbar_background.png');
}

.toolbar_button_normal {
    -ms-border-image:url('320w/toolbar_button_normal.png') 4 8 8 8 fill stretch stretch;
    -moz-border-image:url('320w/toolbar_button_normal.png') 4 8 8 8 fill stretch stretch;
    -webkit-border-image:url('320w/toolbar_button_normal.png') 4 8 8 8 fill stretch stretch;
    -o-border-image:url('320w/toolbar_button_normal.png') 4 8 8 8 fill stretch stretch;
    border-image:url('320w/toolbar_button_normal.png') 4 8 8 8 fill stretch stretch;
}

.toolbar_button_back {
    -ms-border-image:url('320w/toolbar_button_back.png') 4 4 4 8 fill stretch stretch;
    -moz-border-image:url('320w/toolbar_button_back.png') 4 4 4 8 fill stretch stretch;
    -webkit-border-image:url('320w/toolbar_button_back.png') 4 4 4 8 fill stretch stretch;
    -o-border-image:url('320w/toolbar_button_back.png') 4 4 4 8 fill stretch stretch;
    border-image:url('320w/toolbar_button_back.png') 4 4 4 8 fill stretch stretch;
}

.content_pane_wide_4, .content_pane_wide_3 {
    -ms-border-image:url('320w/rounded_panel_background.png') 6 6 6 6 fill stretch stretch;
    -moz-border-image:url('320w/rounded_panel_background.png') 6 6 6 6 fill stretch stretch;
    -webkit-border-image:url('320w/rounded_panel_background.png') 6 6 6 6 fill stretch stretch;
    -o-border-image:url('320w/rounded_panel_background.png') 6 6 6 6 fill stretch stretch;
    border-image:url('320w/rounded_panel_background.png') 6 6 6 6 fill stretch stretch;
}

.statusbar_decorator_statusbar {
    height:24px;
}

.toolbar_decorator_toolbar_container {
    height:32px;
}

.toolbar_buttons_container {
    padding-bottom:8px;
}

.toolbar_buttons_container {
    padding-left:${page_margin_left}px;
}

.toolbar_buttons_container {
    padding-right:${page_margin_right}px;
}

.toolbar_button_normal {
    border-width:4px 4px 4px 4px;
}

.toolbar_button_back {
    border-width:4px 4px 4px 8px;
}

.stack_narrow .toolbar_decorator_content_container {
    padding-top:32px;
}

.statusbar_decorator_content {
    padding-top:24px;
}

.toolbar_decorator_toolbar_container {
    top:24px;
}

.content_pane_wide_4, .content_pane_wide_3 {
    margin:6px;
}

.content_pane_wide_4, .content_pane_wide_3 {
    border-width:6px;
}

#content_padding_measure {
    height:24px;
}

