.selected {
    font-weight: bold;
}

#tab_bar_container {
    display: block;
}

#tab_bar_container > div {
    display: inline-block;
    text-align: center;
    width: 25%;
}

#tab_pane {
    overflow-x: hidden;
}

.content_slider {
    white-space: nowrap;
}

.content_pane {
    display: inline-block;
    white-space:  normal;
    vertical-align: top;
}

#decorated_body {
    overflow-y: auto;
    /* ios gets 'sticky' if this isn't in here (it also looks better anyway)*/
    -webkit-overflow-scrolling: touch;
    /* set the vertical alignment back to baseline */
    vertical-align: baseline;

}

#decorated_body {
}

body {
    margin:0;
    padding:0;
    /* not sure about this one - might ruin compatibility somewhere */
    /*overflow-y: hidden; */
    overflow-y: hidden;
}